.vs/
build*/*
/bin/
*.swp
*~
*.pdb
*.osi
*.osih
*.dat
*.zip
*.bak
*.csv
*.exe
*.dll
buildnr.cpp
version.cpp
version.txt
log.txt
externals/OpenSceneGraph
externals/OSI
externals/SUMO
externals/googletest
resources/models
Hello-World_coding-example/build
.pyenv
.vscode
test/OSC-ALKS-scenarios
test/stdout.txt
test/__pycache__
esmini/EnvironmentSimulator/code-examples
esmini/EnvironmentSimulator/Applications
esmini/EnvironmentSimulator/Libraries
esmini/CMakeFiles/
esmini/Makefile
esmini/cmake_install.cmake
esmini/code-examples-bin/
esmini/install_manifest.txt
*/Makefile
*/CMakeFiles
CMakeFiles
Makefile
*.cmake
*_test
*.a
*.so
.idea/
out.xml
log.txt
LOG_FILE
*.doctree
docs/_build
docs/_build/doctrees
TODO.md